/* Import Google font - Poppins & Noto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::selection{
    color: #fff;
    background: #4db2ec;
}

.captcha_parent{
    display: flex;
    flex-direction: column;
    align-items: center;




}


.captcha-area{
    display: flex;
    height: 40px;
    width: 284px;
    align-items: center;
    justify-content: space-between;
}
.captcha-area .captcha-img{
    height: 100%;
    width: 500px;
    user-select: none;
    background: #000;
    border-radius: 5px;
    position: relative;
}
.captcha-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

    opacity: 0.95;
}
.captcha-img .captcha1, .captcha2{
    position: absolute;
    left: 50%;
    top: -10%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px #b1b1b1;
    font-family: 'Noto Serif', serif;
}
button{
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #4db2ec;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button:hover{
    background: #2fa5e9;
}
.captcha-area .reload-btn{
    width: 75px;
}
.captcha-area .reload-btn i{
    transition: transform 0.3s ease;
}
.captcha-area .reload-btn:hover i{
    transform: rotate(15deg);
}
.input-area{
    height: 60px;
    width: 285px;
    position: relative;
}
.input-area input{
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}
.input-area input:is(:focus, :valid){
    padding-left: 19px;
    border: 2px solid #4db2ec;
}
.input-area input::placeholder{
    color: #bfbfbf;
}
.input-area .check-btn{
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
}
.input-area input:valid + .check-btn{
    opacity: 1;
    pointer-events: auto;
}
.status-text{
    display: none;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 -5px;
}

