@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body{
    background-image:url("bg.jpg.webp") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.submit,li, a,button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10% ;
    background-color: #24252a;

}
.login{

}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: blanchedalmond;
}
.submit,button{
    padding:9px 20px;
    background-color: rgb(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:rgb(0,136,169,0.8) ;
}

.logo {
    width: 380px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #24252a;
    color: white;
}
h3{
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    background: url('background.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: text 7.5s linear infinite;

}

@keyframes text {
    from{background-position: 0% 50%;}
    to{background-position: 100% 100%;}
}
label{
    font-weight: bold;
}
.register{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.title-login-register{
    width: fit-content;
    padding: 8px 20px;
    background-color: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    margin-left: 80px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border-radius: 25px 25px 0px 0px;

}
#login-register-form{
    border: 5px solid  rgba(255,255,255,0.04);
    width: 550px;
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    border-radius: 25px 25px 25px 25px;
    margin-left: 80px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#login-register-form > .row{
    margin: 25px auto;
}
#login-register-form > .row > label{
    text-align: right;
    display: inline-block;
    margin-right: 10px;
    width: 30%;
}
#login-register-form > .row > input[type=text],
#login-register-form > .row > input[type=password],
#login-register-form > .row > input[type=email]
{
    text-align: left;
    display: inline-block;
    line-height: 22px;
    border-style: ridge;
    border-radius: 25px;
    outline: none;
    text-indent: 10px;
    width: 45%;
}
#login-register-form > .row > input[type=text]:focus,
#login-register-form > .row > input[type=password]:focus,
#login-register-form > .row > input[type=email]:focus{
    box-shadow: 1px 1px 2px rgb(54, 54, 54) inset;
}
#login-register-form > .row > input[type=radio]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#login-register-form > .row > input[type=date]{
    width: fit-content;
    padding: 2px;
    line-height: 22px;
    text-indent: 5px;
    border-radius: 20px;
    outline: none;
    border-style: ridge;
}
#login-register-form > .row > input[type=date]:focus{
    box-shadow: 1px 1px 2px rgb(54, 54, 54) inset;
}

#login-register-form > .row-submit{
    text-align: center;
}
.submit,#login-register-form > .row-submit > button{
    padding: 4px 12px;
    width: fit-content;
    border-radius: 20px;
    margin: 5px 10px;
    outline: none;
    border-style: outset;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 500; */
    transition: all 1s;
}
#login-register-form > .row-submit > button:active{
    border-style: inset;
}
#login-register-form > .row-submit > button:hover{
    color: rgb(241, 57, 57);
    background-color: rgb(247, 226, 199);
}
.submit:hover{
    color: rgb(241, 57, 57);
    background-color: rgb(247, 226, 199);
}